In [3]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

In [4]:
df= pd.read_csv("test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [5]:
x= np.array(df.math)
y= np.array(df.cs)

print(x)
print(y)

[92 56 88 70 80 49 65 35 66 67]
[98 68 81 80 83 52 66 30 68 73]

In [11]:
def gradient_descent(x,y):
    m_curr = 0
    b_curr = 0
    iterations = 100
    n = len(x)
    learning_rate = 0.0002

    cost_previous = 0

    for i in range(iterations):
        y_predicted = m_curr * x + b_curr
        cost = (1/n)*sum([value**2 for value in (y-y_predicted)])
        md = -(2/n)*sum(x*(y-y_predicted))
        bd = -(2/n)*sum(y-y_predicted)
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd
        if math.isclose(cost, cost_previous, rel_tol=1e-20):
            break
        cost_previous = cost

    return m_curr, b_curr

In [12]:
gradient_descent(x,y)
plt.show()